[submodule ".emacs.d/plugins/yasnippets_rails"]
	path = .emacs.d/plugins/yasnippets_rails
	url = git://github.com/eschulte/yasnippets-rails.git
[submodule ".emacs.d/plugins/rhtml"]
	path = .emacs.d/plugins/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule ".emacs.d/plugins/rinari"]
	path = .emacs.d/plugins/rinari
	url = git://github.com/eschulte/rinari.git
[submodule ".emacs.d/plugins/helm"]
	path = .emacs.d/plugins/helm
	url = https://github.com/emacs-helm/helm
